/* Reset CSS */
* { box-sizing: border-box; }
ul { list-style: none; }
a { text-decoration: none; }

/* Default CSS */
body {
  font-family: 'Open Sans', sans-serif;
  color: #222;
  font-size: 15px;
  margin: 0; padding: 0;
  height: 100vh;
}

:root {
    /* Color */
    --white-color: #fff;
    --black-color: #140a00;
    --grey-dark-color: #909090;
    --grey-light-color: #e0e0e0;
    --blue-main-color: #baddf9;
    --blue-dark-color: #89abc6;
    --blue-light-color: #edffff;

    /* Size */
    --padding: 12px;
    --avatar-size: 36px;

    /* Font Size */
    --font-head: 48px;
    --font-head-res:30px;
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}


/* ##################### HEADER ##################### */
header{
    position: absolute;
    top: 100px; left: -60px;
    transform: rotate(90deg);
}
header h1{
    font-size: var(--font-large);
    color: var(--blue-main-color);
}


/* ##################### NAV ##################### */
/* btn */
.menu_btn{
    position: fixed;
    top: 20px; right: 20px;
    width: 50px; height: 50px;
    border-radius: 50%;
    background-color: var(--white-color);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
    z-index: 1;
}
.menu_btn span{
    display: block;
    width: 20px; height: 2px;
    background-color: var(--blue-dark-color);
    margin: 0 auto;
    position: absolute; left: 15px;
    transition: 0.2s;
}

.menu_btn span:nth-child(1){
    top: 16px;
}
.menu_btn span:nth-child(2){
    top: 24px;
}
.menu_btn span:nth-child(3){
    top: 32px;
}
.menu_btn span.active:nth-child(1){
    top: 50%;
    transform: rotate(45deg);
}
.menu_btn span.active:nth-child(2){
    display: none;
}
.menu_btn span.active:nth-child(3){
    top: 50%;
    transform: rotate(-45deg);
}

.menu_btn:hover,
.menu_btn.active{
    background-color: var(--blue-dark-color);
}
.menu_btn:hover > span,
.menu_btn span.active{
    background-color: var(--white-color);
}

/* navi */
.nav{
    position: fixed;
    top: -16px; right: -300px;
    width: 300px; height: 100vh;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    padding-top: 150px;
    transition: 0.5s;
}
.nav.active{
    right: 0;
}
.nav li{
    margin-top: 30px;
}
.nav li a{
    font-size: var(--font-head-res);
    font-weight: bold;
    color: var(--blue-dark-color);
    letter-spacing: 3px;
    display: inline-block;
    transition: 0.2s;
}
.nav li a:hover{
    color: var(--blue-main-color);
}



/* ##################### HOME ##################### */
.home{
    width: 100%; height: 1100px;
    background-image: url(./images/home.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    overflow: hidden;
}
.home_inner{
    width: 100%; height: 100%;
}
.loading{
    text-align: center;
    transition: 2s;
}

.loading h3,
.loading h2,
.loading p{
    opacity: 0;
    
}
.loading h3{
    font-size: 22px;
    font-weight: 100;
    animation: loading01 1s linear both;
    position: absolute;
    left: 50%; 
    /* top: 35%; */
    transform: translateX(-50%);
}
.loading h2{
    font-size: var(--font-head);
    position: absolute;
    left: 50%; top: 38%; 
    transform: translateX(-50%);
    animation: loading02 1s 0.5s linear both;
}
.loading p{
    font-size: var(--font-small);
    font-weight: 100;
    position: absolute;
    left: 50%; top: 51%; 
    transform: translateX(-50%);
    animation: loading03 1s 1s linear both;
}

.loading.active{
    opacity: 0;
}


@keyframes loading01{
    0%{opacity: 0; top: 36%;}
    100%{opacity: 1; top: 35%;}
}
@keyframes loading02{
    0%{opacity: 0; top: 39%;}
    100%{opacity: 1; top: 38%;}
}
@keyframes loading03{
    0%{opacity: 0; top: 52%;}
    100%{opacity: 1; top: 51%;}
}

/* intro */
.intro{
    position: absolute;
    top: 97%; left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.2s;
}
.intro.active{
    top: 90%;
    opacity: 1;
}
.intro p{
    text-align: center;
    font-size: var(--font-head-res);
    font-weight: 100;
}


/* ##################### ABOUT ##################### */
.about{
    padding: 80px 0;
}
.inner{
    background-color: #fff;
    margin: 0 auto;
    padding: 0 150px;
}
.profile{}
.profile img{
    width: 250px; height: 250px;
}
.profile h3{
    font-size: 24px;
    margin-top: 0;
}
.about_content{
    margin-top: 50px;
}
.about_content p{
    font-weight: 100;
}

/* back pattern cloud */
.about .inner{
    width: inherit;
    position: relative;
}
#cloud01, #cloud02{
    position: absolute;
    opacity: 0.5;
}
#cloud01{
    top: 0; right: 200px;
    width: 200px;
    animation: cloud01 2s linear infinite;
}
#cloud02{
    top: 100px; right: 150px;
    animation: cloud02 2s linear infinite;
}

@keyframes cloud01{
    0%{top: 0;}
    50%{top: 3px;}
    100%{top: 0;}
}
@keyframes cloud02{
    0%{top: 103px;}
    50%{top: 100px;}
    100%{top: 103px;}
}

/* ##################### SKILL ##################### */
.skill{
    padding: 90px 0;
    background-color: #f6f6f6d0;
}
.skill .inner{
    display: flex;
    background-color: inherit;
}
/* skill title */
.skill_title{
    width: 50%;
    text-align: center;
    padding-top: 140px;
}
.skill_title h3{
    font-weight: 100;
    font-size: var(--font-head-res);
}
.skill_title p{
    font-size: var(--font-head-res);
    color: var(--blue-dark-color);
}

/* skill content */
.skill_content{
    width: 50%;
}
.skill_content li{
    list-style: circle;
}
.skill_content li h4{
    margin-bottom: 0;
    margin-top: 50px;
    font-size: var(--font-large);
}
.skill_content li:first-child h4{
    margin-top: 0;
}
.skill_content li p{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 100;
}


/* ##################### PR ##################### */
.pr{
    background-color: #f6f6f6d0;
    padding: 110px 0;
    margin-top: 100px;
}
.pr .inner{
    background-color: inherit;
}
.pr .inner h2{
    text-align: center;
    font-size: var(--font-head);
    font-weight: normal;
    color: var(--grey-dark-color);
    margin-top: 0;
}

.pr_cnt{
    display: flex;
    margin-top: 70px;
}

/* pr title */
.pr_title{
    width: 50%;
    border-right: 1px solid var(--grey-dark-color);
    text-align: left;
    padding-top: 40px;
}
.pr_title p{
    font-size: 22px;
    margin-left: 280px;
}

/* pr content */
.pr_content{
    width: 50%;
    padding-left: 60px;
}
.pr_content li{
    list-style: circle;
    font-size: var(--font-large);
    margin-bottom: 20px;
    font-weight: 100;
}
.pr_content p{
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    color: var(--black-color);
    font-size: var(--font-small);
    border: 1px solid #909090;
    cursor: pointer;
    transition: 0.3s;
}
.pr_content p:hover{
    color: var(--white-color);
    background-color: var(--blue-dark-color);
    border: 1px solid var(--blue-dark-color);
}

/* ##################### CONTACT ##################### */
.contact .inner{
    text-align: center;
    height: 400px;
    padding-top: 120px;
}
.contact .inner p{
    font-weight: 100;
}
#email{
    display: inline-block;
    font-size: var(--font-head);
    font-weight: normal;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.2s;
}
#email:hover{
    font-size: 44px;
    color: var(--blue-dark-color);
}

/* ##################### FOOTER ##################### */
footer{}
footer .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer a{
    color: var(--black-color);
    font-weight: bold;
}
footer a:hover{
    color: var(--grey-dark-color);
}
footer p{
    color: var(--grey-dark-color);
    font-weight: 100;
    font-size: var(--font-small);
    /* border: 1px solid #000; */
    margin-bottom: 13px;
}
footer span{
    font-weight: 100;
}